<h1 align='center'>Pandas understanding </h1>

In [1]:
print('hello world !')

hello world !

<h3> 0. Installing Dependencies </h3>
<br>
<p> In this experimentation we will require following dependencies <br>
<ol>
    <li> Pandas </li>
    <li> Matplotib </li>
</ol>
<b> Image sample here: </b>
<br>
<img src='https://www.researchgate.net/publication/336805909/figure/fig1/AS:817888827023360@1572011300751/Schematic-diagram-of-a-basic-convolutional-neural-network-CNN-architecture-26.ppm'>

In [2]:
!pip3 install pandas
!pip3 install matplotlib

Requirement already satisfied: pandas in /home/fm-pc-lt-233/Personal_Projects/Tensorflow-Learning/tf_env/lib/python3.10/site-packages (2.2.1)
Requirement already satisfied: tzdata>=2022.7 in /home/fm-pc-lt-233/Personal_Projects/Tensorflow-Learning/tf_env/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: pytz>=2020.1 in /home/fm-pc-lt-233/Personal_Projects/Tensorflow-Learning/tf_env/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/fm-pc-lt-233/Personal_Projects/Tensorflow-Learning/tf_env/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy<2,>=1.22.4 in /home/fm-pc-lt-233/Personal_Projects/Tensorflow-Learning/tf_env/lib/python3.10/site-packages (from pandas) (1.26.4)
Requirement already satisfied: six>=1.5 in /home/fm-pc-lt-233/Personal_Projects/Tensorflow-Learning/tf_env/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: matplotlib in /home/fm-pc-lt-233/Personal_Projects/Tensorflow-Learning/tf_env/lib/python3.10/site-packages (3.8.3)
Requirement already satisfied: kiwisolver>=1.3.1 in /home/fm-pc-lt-233/Personal_Projects/Tensorflow-Learning/tf_env/lib/python3.10/site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /home/fm-pc-lt-233/Personal_Projects/Tensorflow-Learning/tf_env/lib/python3.10/site-packages (from matplotlib) (23.2)
Requirement already satisfied: cycler>=0.10 in /home/fm-pc-lt-233/Personal_Projects/Tensorflow-Learning/tf_env/lib/python3.10/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: numpy<2,>=1.21 in /home/fm-pc-lt-233/Personal_Projects/Tensorflow-Learning/tf_env/lib/python3.10/site-packages (from matplotlib) (1.26.4)
Requirement already satisfied: pyparsing>=2.3.1 in /home/fm-pc-lt-233/Personal_Projects/Tensorflow-Learning/tf_env/lib/python3.10/site-packages (from matplotlib) (3.1.1)
Requirement already satisfied: pillow>=8 in /home/fm-pc-lt-233/Personal_Projects/Tensorflow-Learning/tf_env/lib/python3.10/site-packages (from matplotlib) (10.2.0)
Requirement already satisfied: python-dateutil>=2.7 in /home/fm-pc-lt-233/Personal_Projects/Tensorflow-Learning/tf_env/lib/python3.10/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: contourpy>=1.0.1 in /home/fm-pc-lt-233/Personal_Projects/Tensorflow-Learning/tf_env/lib/python3.10/site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: fonttools>=4.22.0 in /home/fm-pc-lt-233/Personal_Projects/Tensorflow-Learning/tf_env/lib/python3.10/site-packages (from matplotlib) (4.49.0)
Requirement already satisfied: six>=1.5 in /home/fm-pc-lt-233/Personal_Projects/Tensorflow-Learning/tf_env/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

<h3> Importing Dependencies </h3>

In [3]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
table_of_something=pd.DataFrame(columns=['x','y'])
table_of_something['x']=[1,2,3,4,5]
table_of_something['y']=[6,7,8,9,10]
display(table_of_something)

   x   y
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

<p> Task 1: Create a DataFrame which has 2 columns column 1 = alphabet, it should consists all the characters from a to z <br>
and  column 2= index, it should consists all the index of characters. Make it dynamic not static </p>

In [5]:
def generate_alphabet_and_index():
    alphabhet=list('abcdefghijklmnopqrstuvwxyz')
    index=[i for i in range(1,27)]

    return alphabhet,index


alphabhet,index=generate_alphabet_and_index()
task_1_dataframe=pd.DataFrame(columns=['alphabhet','index'])
task_1_dataframe['alphabhet']=alphabhet
task_1_dataframe['index']=index

display(task_1_dataframe)

   alphabhet  index
0          a      1
1          b      2
2          c      3
3          d      4
4          e      5
5          f      6
6          g      7
7          h      8
8          i      9
9          j     10
10         k     11
11         l     12
12         m     13
13         n     14
14         o     15
15         p     16
16         q     17
17         r     18
18         s     19
19         t     20
20         u     21
21         v     22
22         w     23
23         x     24
24         y     25
25         z     26

<h3> Dictionary to DataFrame </h3>

<b> Task 2: </b>
Write up a script to basically take in N number of datapoints and data points is such that we have <br>
date and event. Initially we ask for date and then we map out with the event

In [17]:
N=int(input("Enter number of events to remember: "))
dates=[]
events=[]
for i in range(N):
    events.append(input("Enter event to remember: "))
    dates.append(input('Enter date to remember: '))

In [18]:
dataset={}
dataset['events']=events
dataset['dates']=dates
dataset_table=pd.DataFrame(dataset)

In [19]:
display(dataset_table)

           events        dates
0        Birthday     1000-0-0
1    Random_Event   2000-20-20
2  Something_Else   3000-30-30
3            asdf  123-123-123
4             fgh  456-456-456

<h3> Look up in DataFrame </h3>
<p>Search for Dates using event in previous example </p>
<p> Hint Try <b>loc</b> and try <b>iloc</b></p>

In [20]:
look_up_event=input('Enter event to look up: ')
#LOC approach 
display(dataset_table.loc[dataset_table['events']==look_up_event,['dates']])

#ILOC Approach

      dates
0  1000-0-0

<h3> Apply Function </h3>
<p> <b> Task 3: </b> On the DataFrame please convert all the events into lowercase using apply </p>

In [26]:
def convert_to_lower(X):
    return X.lower()

dataset_table['events']=dataset_table['events'].apply(convert_to_lower)

In [27]:
dataset_table

           events        dates
0        birthday     1000-0-0
1    random_event   2000-20-20
2  something_else   3000-30-30
3            asdf  123-123-123
4             fgh  456-456-456

<h3>Assignments </h3>
You have 2 tables, 
table 1 which consits of Name and Marks in Mathematics 
table 2 which concists of Name and Marks in Physics 

merge both tables. Add another column named total which should be sum of mathematics and physics score
and another column named Rank which basically gives rank of the student based on his total marks

In [31]:
table_1=pd.DataFrame(
    {
        'Name': ['Partha','Prashant','Pradip','Pranit','Punit'],
        'Mathematics': [30,50,70,90,100]
    }
)

table_2=pd.DataFrame(
    {
        'Name': ['Partha','Prashant','Pradip','Pranit','Punit'],
        'Physics': [50,40,30,100,80]
    }
)

display(table_1)
display(table_2)

#YOUR CODE HERE !!########

##########################

       Name  Mathematics
0    Partha           30
1  Prashant           50
2    Pradip           70
3    Pranit           90
4     Punit          100

       Name  Physics
0    Partha       50
1  Prashant       40
2    Pradip       30
3    Pranit      100
4     Punit       80

<h3> Saving to csv file and reading from csv file </h3>

Take n number of students, Collect their name, marks in physics and marks in mathematics 
convert it to DataFrame

In [32]:
no_of_std = int(input("Enter number of students:"))
names = []
marks_in_math = []
marks_in_physics = []
for i in range(no_of_std):
    names.append(input("Enter name of student: "))
    marks_in_math.append(float(input("Enter marks in math: ")))
    marks_in_physics.append(float(input("Enter marks in physics: ")))

dataset = {}
dataset['names'] = names
dataset['marks_in_math'] = marks_in_math
dataset['marks_in_physics'] = marks_in_physics
dataset_std = pd.DataFrame(dataset)
display(dataset_std)

      names  marks_in_math  marks_in_physics
0  Prashant           32.0              50.0
1  Pradeep            50.0              80.0
2     Punit           70.0              80.0

<h3> Saving to csv </h3>

In [35]:
dataset_std.to_csv('student_dataset_from_script.csv',mode='a',index=False)

<h3> Loading from csv </h3>

In [37]:
dataset_loaded=pd.read_csv('student_dataset_from_script.csv')
display(dataset_loaded)

      names  marks_in_math  marks_in_physics
0  Prashant           32.0              50.0
1  Pradeep            50.0              80.0
2     Punit           70.0              80.0